@charset "UTF-8"

h1{
    color: rgba(217, 212, 228, 0.493);
}

a:link {
    color: rgb(3, 247, 3);
}
a:visited {
    color: rgb(4, 4, 8);
}
a:hover {
    color: rgb(255, 0, 0);
}
a:active {
    color: rgb(228, 225, 240);
}

#cocô{
    text-align: center;
    color: rgb(46, 241, 11);
}
.medio{
    text-align: center;
    color: rgb(59, 12, 102);
}
.normal{
    text-align: center;
    color: brown;
}